                #navbar {
                    /*width: 337px;*/
                    width: 25vw;
                    float: left;
                    margin-top: 2vh;
                    margin-bottom: 0;
                    position: fixed;
                }
                
                .nav-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    height: 7vh;
                    margin-bottom: 0;
                    margin-top: 0;
                    text-align: center;
                }
                
                #navbar-content {
                    /*height: 560px;*/
                    height: 86vh;
                    overflow-y: auto;
                    /*position: static;*/
                }
                
                code {
                    background-color: rgb(245, 242, 242);
                    display: block;
                    white-space: pre-line;
                    padding-left: 5vw;
                }
                
                #content {
                    float: right;
                    /*width: 1014px;*/
                    width: 75vw;
                    padding: 2vh 4vw 0 4vw;
                    position: static;
                    border: solid grey;
                    border-width: 0 0 0 0.5vw;
                    position: sticky;
                    margin-left: 25vw;
                }
                
                #main-doc {
                    display: flex;
                }
                
                header {
                    font-weight: bold;
                    font-size: 200%;
                    margin-bottom: 3vh;
                }
                
                @media only screen and (max-width: 680px) {
                    #navbar {
                        width: 98vw;
                        height: 20vh;
                        margin-top: 2vh;
                        display: block;
                        position: static;
                    }
                    #content {
                        width: 100vw;
                        position: static;
                        margin-top: 25vh;
                        display: block;
                        position: static;
                    }
                    #navbar-content {
                        height: 35vh;
                        overflow-y: auto;
                        position: static;
                    }
                    #main-doc {
                        display: block;
                    }
                    .main-section {
                        padding: 2vh 4vw 0 4vw;
                    }
                }